[Unit]
Description=Kafka Daemon %I
After=zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
LimitNOFILE=32768
Restart=on-failure
Environment="KAFKA_HEAP_OPTS={{ kafka.kafka_heap_opts }}"
ExecStart=/home/{{ kafka.user }}/kafka/bin/kafka-server-start.sh /home/{{ kafka.user }}/etc/server{{item}}.properties
ExecStop=/home/{{ kafka.user }}/kafka/bin/kafka-server-stop.sh /home/{{ kafka.user }}/etc/server{{item}}.properties
[Install]
WantedBy=multi-user.target
