[Unit]
Description=Jekyll
After=syslog.target network.target

[Service]
Type=simple
User={{ansible_user}}
Group={{ansible_user}}
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Restart=on-failure
WorkingDirectory=/home/{{ansible_user}}/training/docs
ExecStart=/usr/local/bin/jekyll serve --watch --source "/home/{{ansible_user}}/training/docs"
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -HUP $MAINPID


[Install]
WantedBy=multi-user.target

